# Binaries
bin/
dist/
*.exe
*.test
*.out
*.so
*.dylib

# Modules
vendor/
go.work
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# IDE
.idea/
.vscode/
*.iml
*.DS_Store

# Generated
gen/
out/